
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top  ">
  <a class="navbar-brand" href="#">&nbsp;&nbsp;&nbsp;&nbsp;<img [src]="imageUrl" height="30" width="50"/>&nbsp;&nbsp;FlightBooking</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 
  <div class="collapse navbar-collapse" id="navbarCollapse">  
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    <ul class="navbar-nav mr-auto">     
        <li class="nav-item active">
          <a class="nav-link" href="/login">Home</a></li>
        <li class="nav-item active"><a class="nav-link" href="/register">About Us</a></li>
        <li class="nav-item active padding-right:50px"><a class="nav-link"href="/register">Contact</a></li> 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
       
        <ul class="navbar-nav" padding-right:20px>
          <li class="nav-item active "><a class="nav-link"href="/addairline">Search Flights</a></li>       
          <li class="nav-item active"><a class="nav-link"href="/inventory">Flights</a></li>
          <li class="nav-item active"><a class="nav-link"href="/home">Inventory Search</a></li>
        </ul>
    </ul>
       
  </div>
</nav>