.img-fluid {
    max-width: 100%;
    height: auto;
    margin-top: -11%;
    margin-left: 13%;
}

.img-fluid[_ngcontent-xxi-c112] {
    max-width: 110%;
    max-height: 90%;
    margin-top: -11%;
    margin-left: 13%;
}

.img-fluid[_ngcontent-eal-c111] {
    max-width: 100%;
    height: auto;
    margin-top: -11%;
    margin-left: 15%;
}
.mb-0 {
  
    margin-right: -73px;
}